<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <title>SignIn</title>
</head>
<body>
    <main>
        <section>
            <form action="/login" method="post">
                <input type="text" name="email" id="email" placeholder="Email">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="submit" value="Sign In"> 
            </form>
        </section>
        <section>
            <div>
                <img src="#" alt="hashapp-logo">
            </div>
            <h2>Hello, There!</h2>
            <p>Enter your personal details and start journey with us</p>
            <form action="/sign_up" method="post">
                <input type="submit" value="Sign Up">
            </form>
        </section>
    </main>
</body>
</html>